/* -- PWC css Hacks -- */
 #center-col{
 	float:left;
 }
/* -- End PWC css Hacks -- */
#pwcmobile{
  width: 100% !important;
  height: 100% !important;
  color: #fff;
  font-family: Georgia, "Times New Roman";
 }
 .hm-cont{
	width: 768px;
	clear: both;
	font-family: Georgia, "Times New Roman";
	color: #fff
}
 .hf-block-color1{
 	width: 698px;
 	height:200px;
 	background:#E0301E;
 }

 .hf-block-white1{
 	width: 50px;
 	height:200px;
 	background: #fff;
 }
  .hf-block-white2{
 	width: 718px;
 	height:15px;
 	background:#fff;
 }

 .hf-block-color2{
 	width: 50px;
 	height:15px;
 	background: #E0301E;
 }


#right-col-pwc-custom {
	height: 566px;
	position: absolute;
	right: 0;
	width: 210px;
}
.hf-block-white1, .hf-block-color1, .hf-block-white2, .hf-block-color2{
	float: left;
}
.hm-inner-cont{
	clear:both;
	min-height: 30px;
}

#accorion-list{
	position: absolute;
	right:0;
	top:0;
}
#accorion-list li.accordion{
	background: rgb(219, 83, 106);
	min-height: 20px;
	list-style: none;
	width: 150px;
	margin: 5px 0;
	border-left: 4px solid #EB8C00;
	border-right: 4px solid #EB8C00;
	line-height: 10px;
	padding: 2px;
	cursor: pointer;
	vertical-align: middle;
}
#accorion-list li.accordion p.one-line{
	vertical-align: middle;
	margin: 5px 0 0 0;
}
.hm-cont-header.active{
	display: block !important;
}
.hm-cont-header{
	margin: 0 20px;
	display: none;
}
.hm-cont-header h2{
	color: #fff;
	font-size: 24px;
	margin: 20px 0 0 0;
}
.hm-cont-header p{
	padding: 0 140px 0 0;
}
