#pagetitle{
	background:url('images/PB_header.png') no-repeat !important;
}
#pagetitle h2{
	color: #fff !important;
}

#main-container #main-content .content-section .col .heading h2{
	color:#fff !important;
	font-family: Arial;
	line-height: 44px;
}
.section-wrap{
	background: #f0f0f1 !important;
}
#main-content{
	float: left !important;
	width: 732px !important;
	margin: 0 12px 0 0 !important;
}
.col.brand-custom{
	width: 224px !important;
}
.col.custom-brand-bottom{
	width: 484px !important;
	margin: 0px !important;
	background: #a4a7ac !important;
}
.col.custom-brand-bottom p{
	color: #fff !important;
}
.col-4-custom-brand{
	margin:24px 0 0 0;
}
.hr-custom-brand{
	margin: 12px 0 0 0;
}
.bottom .col .heading{
	padding: 30px 0 40px 20px;
}
.section-wrap.custom-brand-section{
	padding: 12px 12px 0px 12px;
}
.brand-header-btn-cont{
	width: 100%;
	height: 50px;
	cursor: pointer;
}
.brand-header-btn{
	float: left;
	width: 30px;
	padding: 4px 5px 4px 4px;
	background: url('acc-news-btn-bg.jpg')#999 no-repeat ;
	height: 18px;
	color: #fff;
	font-weight: bold;
	font-family: Gerogia;
	font-size: 38px;
	line-height: 30px;
	height: 30px;
}
.brand-header{
	float:left;
	margin: 0 0 0 5px;
	color: #fff;
	width:685px;
}
.brand-header h4{
	font-family: Georgia, serif;
	padding: 0 8px 0 !important;
	color: #fff !important;
	font-size: 1.5em !important;
	margin:7px 15px 5px 10px;
	height:26px;
}
#personal-brand-workbook{
	background: url("images/icon_sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 20px;
    padding: 2px 0 4px 35px;
}
}
#custom-inner-table table{
	color: #fff!important;
	font-size: 14px !important;
}
/** COLORS **/
.brand-custom .heading h2{
	font-family: Arial, sans-serif !important;
}
.brand-heading h2{
	color: #FFFFFF !important;
    padding: 15px 0 228px 15px;
}
.brand-custom .heading{
	font-family: Arial, sans-serif !important;
	background: url('news-col-bg.png');
	min-height: 286px;
	max-height: 286px;
}
.red{
	background: #e41926;
}
.pink{
	background: #e7335a;
}
.orange{
	background: #f38e02;
}
.font-orange{
	color:#f38e02;
}
.font-orange.font-bold{
	margin-bottom: 0px!important;
}
.font-bold{
	font-weight:bold;
}

.red-orange{
	background: #eb6409;
}

.maroon{
	background: #821018;
}
.col-light-white{
	background: #f2f2f2;
}
.col-red-orange{
	color: #eb6409;
}

/* Custom Mixin */
.custom-brand-hz-spacer{
	height: 25px;
	width: 100px;
}
.custom-brand-inline-float-rt{
	float: right;
    padding: 0 15px 0 0;
    width: 240px;
}
.custom-brand-inline-float-left{
	float: left;
    margin: -5px 0 0;
    padding: 0 0 0 35px;
    width: 340px
}
.custom-brand-inline-float-left p.font-bold,
.custom-brand-inline-float-rt p.font-bold{
    font-family: Georgia;
    font-size: 18px !important;
    font-style: italic;
    margin: 0 0 0 -20px;
}
.custom-brand-inline-float-left p.font-bold{
	font-style:  normal;
	font-size: 15px !important;
    line-height: 14px !important;
    margin-bottom: 10px;
}
img.custom-brand-attire{
	max-width: 205px!important;
}
.brand-inner-content{
 width:484px;
}
.brand-inner-content img{
	max-width: 472px;
	padding: 0 0 10px 0;
}
ul.brand-ul{
	margin:0 0 0 25px  !important;
	padding: 0 !important;
}
ul.brand-ul li p{
	font-size: 14px !important;
	margin: 0 !important;
	padding: 0 !important;
}

h2.brand-header{
	font-family: Georgia, serif !important;
	min-height: 24px;
	max-height: 14px;
	margin: 0 0 12px 0;
	padding: 12px 0 22px 12px;
	color: #fff !important;
	font-size: 14px;
	width: 460px;
}
h2.brand-header.red{
	margin-top: 20px!important;
}
h2.red{
	background: url("brand-header-bg.png") #e41926 bottom left no-repeat;

}
h2.pink{
	background: url("brand-header-bg.png") #e7335a bottom left no-repeat;
}
h2.orange{
	background: url("brand-header-bg.png") #f38e02 bottom left no-repeat;
}

h2.red-orange{
	background: url("brand-header-bg.png") #eb6409 bottom left no-repeat;
}

h2.maroon{
	background: url("brand-header-bg.png") #821018 bottom left no-repeat;
}

.brand-inner-content p{
 	font-size: 14px;
    line-height: 22px;
    margin: 10px;
    padding: 0;
 }

font.brand-cutsom-link{
	font-weight: normal;
	text-decoration: underline;
	cursor: pointer;
	color: #821018 !important;
}
font.brand-cutsom-link2{
	font-weight: normal;
	text-decoration: underline;
	cursor: pointer;
	color: #821018 !important;
}

/*
Videos
*/
.thumb-holder{
	position: relative;
	width: 236px;
	height: 135px;
	overflow: hidden;
}
.video-container .thumb-holder img{
	width: 242px;
	margin: -24px 0 0 0;
}

.video-container .thumb-holder{
	height: 271px;
    padding: 5px;
    width: 474px;
}
.title h3{
	text-align: center;
	margin:8px!important;
	height: 15px;
}
.title a{
	color: white !important;
	font-size: 14px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: 400 !important;
	text-decoration: none !important;
}
.title a:hover{
	color: white !important;
font-size: 14px !important;
font-family: Arial, Helvetica, sans-serif !important;
font-weight: 400 !important;
text-decoration: underline !important;
}
.video-container.last{
	margin: 0x;
}
div.section-link{
	padding-right:20px; 
}
.section-link-wrap{
	width: 472px !important;
}
.section-link h2{
	color: #FFFFFF !important;
    font-family: Arial !important;
    font-size: 24px;
    padding: 15px !important;
}
.section-link p{
	color: #FFFFFF;
    margin: -20px 0 0 18px !important;
    padding: 0 0 35px !important;
}
.section-link-symbol{
	color: #FFFFFF;
    float: right;
    font-family: Arial;
    font-size: 56px;
    font-weight: 100;
    margin: -60px 0 0;
}
ol.custom-brand-ol{
	list-style:decimal outside !important;
}
ol.custom-brand-ol li{
	display: list-item!important;
	overflow: visible!important;
}
.custom-brand-ul{
	margin: 0 0 0 20px!important;
}
.custom-brand-li{
	font-size: 14px !important;
	padding: 0 !important;
}
ul.custom-linked-in{
	margin: 0 0 0 -45px!important;
}

/* Toggle Section Styles */
h3.brand-toggle-header{
	font-weight: bold !important;
	color: #E41926 !important;
	font-size: 18px;
	cursor: pointer;
}
.toggle-symbol{
	float: left;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}

.toggle-symbol.mdash{
	margin: -3px 5px 0 15px;
}

.toggle-symbol.plus{
	margin: -3px 5px 0 10px;
}
.plus:after{
	content: '+';
}
.mdash:after{
	content: "—";
}
.brand-toggle-content p {
    font-size: 14px;
    line-height: 22px;
    margin: 10px 35px 0;
    padding: 0;
}
.brand-toggle-content div {
    font-size: 15px;
    line-height: 22px;
}
/* End Toggle Section Styles */
