/* Custom Brand Monile */
.mobile{
    display: inline!important;
}
.desktop{
    display: none!important;
}

#wrapper {
    padding: 0!important;
    width: 330px;
    margin: 0!important;
}
#container{
        padding: 0!important;
}

#center #main-container .tab-content .tab-nav ul li{
    width: 80px!important;
}

#center #main-container .tab-content .tab-nav ul li a {
    font-size: 13px;
    min-height: 30px;
    padding: 8px 10px 7px 9px;
}
#mobilenav{
    left: 0;
    margin: 0 0 0 130px;
}
#main-container #main-content .content-section .heading {
    width: 304px;
    padding: 0 5px;
}

.section-wrap.custom-brand-section {
    padding: 12px 0 0 0;
}
h2.brand-header{
    width: 320px;
}
.brand-inner-content {
    width: 304px;
}
.col.brand-custom {
    width: 330px !important;
    max-height: 100px;
    min-height: 100px 
}
.section-link p {
    color: #FFFFFF;
    margin: -27px 0 0 15px !important;
    padding: 0 0 9px !important;
    width: 300px;
}
.title h3 {
    width: 300px!important;
}

#main-container #side-content {
    float: left;
    margin: 0;
    width: 330px;
}

#container img, #container object {
    max-width: 330px!important;
}

.col.brand-custom.make-your-plan{
    min-height: 250px;
}

#pagetitle {
    background-position: -447px!important;
}
#main-container #pagetitle h2 {
    color: #FFFFFF;
    font-size: 25px!important;
    font-style: italic;
    margin: 0 0 0 130px;
    text-align: left;
    width: 200px;
}

#pwcmobile #center a {
    text-decoration: none!important;
}


#main-container #main-content .content-section .col .heading h2 {
    font-size: 30px !important;
    line-height: 33px;
    padding: 10px;
}
.custom-orange-table {
    margin: 10px 0 20px 30px!important;
}