.section-wrap{
	background: #f0f0f1 !important;
}
.col.brand-custom{
	width: 224px !important;
}
.col.custom-brand-bottom{
	width: 484px !important;
	margin: 0px !important;
	background: #a4a7ac !important;
}
.col.custom-brand-bottom p{
	color: #fff !important;
}
.section-wrap.custom-brand-section{
	padding: 12px 12px 0px 12px;
}
.brand-header-btn-cont{
	width: 100%;
	height: 50px;
	cursor: pointer;
}
.brand-header-btn{
	float: left;
	width: 30px;
	padding: 4px 5px 4px 4px;
	background: url('acc-news-btn-bg.jpg')#999 no-repeat ;
	height: 18px;
	color: #fff;
	font-weight: bold;
	font-family: Gerogia;
	font-size: 38px;
	line-height: 30px;
	height: 30px;
}
.brand-header{
	float:left;
	margin: 0 0 0 5px;
	color: #fff;
	width:685px;
}
.brand-header h4{
	font-family: Georgia, serif;
	padding: 0 8px 0 !important;
	color: #fff !important;
	font-size: 1.5em !important;
	margin:7px 15px 5px 10px;
	height:26px;
}

/** COLORS **/
.brand-custom .heading h2{
	font-family: Georgia, serif !important;
}
.brand-custom .heading{
	font-family: Georgia, serif !important;
	background: url('news-col-bg.png');
min-height: 286px;
max-height: 286px;
}
.red{
	background: #e41926;
}
.pink{
	background: #e7335a;
}
.orange{
	background: #f38e02;
}

.red-orange{
	background: #eb6409;
}

.maroon{
	background: #821018;
}
.col-light-white{
	background: #f2f2f2;
}
.col-red-orange{
	color: #eb6409;
}
.brand-inner-content{
 width:484px;
}
.brand-inner-content img{
	max-width: 472px;
	padding: 0 0 10px 0;
}
h2.brand-header{
	font-family: Georgia, serif !important;
	min-height: 24px;
	max-height: 14px;
	margin: 0 0 12px 0;
	padding: 12px 0 22px 12px;
	color: #fff !important;
	font-size: 14px;
	width: 460px;
}

h2.red{
	background: url("brand-header-bg.png") #e41926 no-repeat;

}
h2.pink{
	background: url("brand-header-bg.png") #e7335a no-repeat;
}
h2.orange{
	background: url("brand-header-bg.png") #f38e02 no-repeat;
}

h2.red-orange{
	background: url("brand-header-bg.png") #eb6409 bottom left no-repeat;
}

h2.maroon{
	background: url("brand-header-bg.png") #821018 no-repeat;
}

.brand-inner-content p{
 	background: #f0f0f1;
	padding: 10px;
	margin: 0px 20px 0 12px;
 }
.brand-inner-content ul{
	background: #f0f0f1;
	padding: 0 !important;
	margin: 0 !important;
}
.brand-inner-content ul li{
	list-style: none !important;
	display: inline;
}
font.brand-cutsom-link{
	font-weight: normal;
	text-decoration: underline;
	cursor: pointer;
	color: #821018 !important;
}
font.brand-cutsom-link2{
	font-weight: normal;
	text-decoration: underline;
	cursor: pointer;
	color: #821018 !important;
}

