#student-programs .col {
	height:100% !important;
}
.challenge-row{
	background: #eb6409;
}
.explore-row{
	background: #e7335a;
}
.start-row{
	background: #f38e02;
}
.elevate-row{
	background: #821018;
}
.advance-row{
	background:#e41926;
}
.launch-row{
	background: #602521;
}
.program-row{
	width: 464px;
	margin: 3px 0;
}
.header-row{
	width: 464px;
	background: #f7f6f5;
}
.grid-space1{
	width:96px;
}
.grid{
	display: inline-block;
	min-width: 45px;
	height: 10px;
	padding: 12px 8px 18px 8px;
	}
.grid.arrow{
	background-attachment: fixed;
	background:url('arrow_circle_white.png') no-repeat;
	background-position-y: bottom;
	padding: 10px 0 8px;
	margin: 0px 0 0 21px;
	position: relative;
	top: 6px;
}
.grid-header{
	color: #fff;
	font-family: Georgia, serif;
	font-size: 17px;
	font-style: italic;
	width: 100px;
}
/* Main overrides */
#center #main-container .programs-grid {
padding: 20px 0 10px;
height: 301px !important;
position: relative;
z-index: 1;
}

#center #main-container .programs-grid .col {
float: left;
height: 100px;
width: 196px;
padding: 0px 20px;
margin: 0 12px 0 0;
}